@import "../../styles/variables";
$transition_duration: 1s;
$front_img: '../../styles/bicycle-card.jpg';
$front_img: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/82473/bicycle-card.jpg';
$transition_duration: 1s;
.cardsRow{
  margin: auto 0;
}
li, .front, .back {
  width: 100px;
  height: 140px;
}

.wrapper {
  font-family: $lato;
  position: relative;
  transition: all $transition_duration;
  transform-style: preserve-3d;
}

.front, .back {
  position: absolute;
  backface-visibility: hidden;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.3);
  border-radius: 8px;
}

.front {
  z-index: 3;
  background: url($front_img) 0 0 no-repeat;
  background-size: contain;
}

.back {
  z-index: 3;
  .topPart{
    background: $cardColor;
    height: 25px;
    border-radius: 8px 8px 0 0;
    span{
      color: $cardTextColor;
      float: right;
      padding-right: 10px;
    }
  }
  .middlePart{
    background: white;
    height: 90px;
  }
  .bottomPart{
    background: $cardColor;
    height: 25px;
    border-radius: 0 0 8px 8px;
    span{
      color: $cardTextColor;
      float: left;
      margin-left: 10px;
      transform: rotate(180deg);
    }
  }
  .cardValue{
    display: flex;
    padding-top: 30%;
  }
  .cardSuitTopLeft{
    position: absolute;
    border-radius: 20px;
    background: white;
    border: 1px solid black;
    width: 25px;
    left: 5px;
    top: 12px;
    .cardSuitIcon{
      width: 14px;
      height: 20px;
    }
  }
  .cardSuitBottomRight{
    position: absolute;
    border-radius: 20px;
    background: white;
    border: 1px solid black;
    width: 25px;
    height: 25px;
    float: right;
    bottom: 10px;
    right: 4px;
    transform: rotate(180deg);
    .cardSuitIcon{
      width: 14px;
      height: 20px;
    }

  }
  .simpleCards{
    text-align: center;
    font-size: 20px;
  }
}

.queenCardSuitIcon{
  width: 100%;
  height: 60px;
}
