#banach {
  .row.button-gutters {
    margin-right: 5px;
    margin-left: 5px;

    > {
      [class^="col-"], [class*=" col-"] {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }

  .row.button-gutters-small {
    margin-right: 2px;
    margin-left: 2px;

    > {
      [class^="col-"], [class*=" col-"] {
        padding-right: 2px;
        padding-left: 2px;
      }
    }
  }

  .btn-primary {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-color: $turbo;
    padding: 0 16px;
    line-height: 36px;
    font-size: 16px;
    font-weight: 600;
    color: $black;
    background-color: $turbo;

    &:hover, &:focus, &:active {
      color: $black !important;
      background-color: $white !important;
      border-color: $white !important;
      outline: none;
      -webkit-box-shadow: none !important;
      -moz-box-shadow: none !important;
      box-shadow: none !important;
    }
  }

  .simplebar-scrollbar:before {
    background: $fern_frond;
  }
}

