@import "../../styles/variables";

.tableRow{
  text-align: center;
  .playerColumn{
    display: flex;
  }
  .playerColumnLeft{
    margin-top: 25%;

    @extend .playerColumn;
    span{
      text-align: right;
      width: 100%;
    }
  }
  .playerColumnRight{
    @extend .playerColumn;
    margin-top: 25%;

    span{
      text-align: left;
      width: 100%;

    }
  }
}
