@import "../../styles/variables";

.playingTable{
  width:100%;
  height:400px;
  background-color:$playingTable;
  position:absolute;
  left:50%;
  top:65%;
  transform:translateX(-50%) translateY(-50%);
  border-radius:150px;
  position:relative;
  border:15px solid $playingTableBorder;
  &:before{
    content:'';
    display:block;
    width:100%;
    height:415px;
    border-radius:150px;
    position:absolute;
    top:-15px;
    left:-15px;
  }
  &:after{
    content:'';
    display:block;
    height:385px;
    position:absolute;
    top:0;
    left:0;
  }
  .card-place{
    border:5px solid #63c763;
    height:100px;
    width:340px;
    position:absolute;
    border-radius:10px;
    padding:10px;
    top:50%;
    left:50%;
    transform:translateX(-50%) translateY(-50%);
    box-sizing:border-box;
    .card:not(:last-child){
      margin-right:15px;
    }
  }
}